---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths(){
  const posts = await getCollection('posts')
  return posts.map(post => ({
    params: {id: post.id},
    props: {post}
  })
)}

const {post} = Astro.props;
const date = new Date(post.data.pubDate);
const formattedDate = date.toLocaleDateString('en-GB',{
  day: '2-digit',
  month:'long',
  year :'numeric'
}); 
const {Content} = await render(post);


---
<Layout 
  title={post.data.title}
  description={post.data.description}
  >
  <article>
      <h1>{post.data.title}</h1>
      <p><time>{formattedDate}</time></p>
<Content />
  </article>

</Layout>
