---
import { render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const [now] = await getCollection('now')
const {Content} = await render(now)

const date = new Date(now.data.pubDate)
const formattedDate = date.toLocaleDateString("en-gb", {
  day: "2-digit",
  month: "long",
  year: "numeric"
});

---

<Layout
  title={now.data.title}
  description={now.data.description}
>
<h1>{now.data.title}</h1>
<p><i>Last updated: <time>{formattedDate}</time></i></p>
<Content />
  
</Layout>